.SaleAnalysisContainer {
  display: flex;
  width: 80vw;
  margin: 5rem auto;
}

.SaleAnalysisContainer_content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.SaleAnalysisContainer_list_item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  padding: 1.5rem;
  border-radius: 50%;
}

.SaleAnalysisContainer_content h2 {
  margin-bottom: 3rem;
}
.SaleAnalysisContainer_content p {
  width: 90%;
}

.SaleAnalysisContainer_list {
  background-color: var(--container-bg-color);
  padding: 3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.SaleAnalysisContainer_list_item {
  display: flex;
  flex-direction: row;
}

.SaleAnalysisContainer_list_item_content {
  display: flex;
  flex-direction: column;
  margin: 0 0 3rem 3rem;
}
.SaleAnalysisContainer_list_item_content h5 {
  font-weight: 700;
  text-align: left;
  margin-left: 0;
}

@media screen and (max-width: 1000px) {
  .SaleAnalysisContainer {
    width: 90vw;
    margin-top: 1rem;
    flex-direction: column;
  }
  .SaleAnalysisContainer_content {
    margin: 3rem;
  }
  .SaleAnalysisContainer_content p {
    width: 100%;
    text-align: center;
  }
}
