.SignInSignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 85vh; */
  background-color: white;
  background-size: cover;
  background-position: center;
}

.SignInSignUpForm {
  background-color: var(--container-bg-color);
  padding: 30px 60px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.SignInSignUpTitle {
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: 500;
  position: relative;
  margin-bottom: 2rem;
}
.SignInSignUpTitle::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.SignInSignUpButton {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
