.professionalList {
  height: 80vh;
  flex: 4;
}

.professionalListContainer {
  display: flex;
  flex-direction: column;
}

.professionalAddButton {
  position: relative;
  left: 50%;
  top: -12rem;
  width: 200px;
  border: none;
  padding: 15px;
  background-color: #3bb077;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.professionalList {
  display: flex;

  align-items: center;
}

.professionalListImg {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.professionalListEdit {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 2rem;
}

.professionalListDelete {
  color: red;
  cursor: pointer;
}
