.wrapper {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  flex-direction: column;
  width: 30rem;
  display: flex;
  margin: 4rem;
}
.card__img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}
.card__body {
  text-align: center;
  margin: 1rem;
  flex-grow: 1;
}
.card__title {
  margin: 1rem;
}
.card__description {
  margin: 0.6rem;
}
.card__price {
  margin: 0.6rem;
}
.card__price::before {
  content: "₹";
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    flex-direction: column;
    text-align: center;
    min-width: 14rem;
  }
  .card__img {
    width: 100%;
    height: 20rem;
  }
}
